---
---

@import "{{ site.theme }}";

a {
    color: DarkOrchid;
}

h1 {
    color: DodgerBlue;
}

header .site-nav ul {
    background-image: url("/detox24-640x394.jpg"); 
    list-style-type: none;
    padding: 5px 0;
    background: none;
    border: none;
    height: auto;
    
    li {
        width: auto;
        float: none;
        border-right: none;
        height: auto;
    
        a {
            text-align: left;
            height: auto; 
        }

    }
    
}

section header {
    float: none;
    width: auto;
    position: inherit;
}
