---
---

@import "{{ site.theme }}";


header .site-nav ul {
    list-style-type: none;
    padding: 5px 0;
    background: none;
    border: none;
    height: auto;
    
    li {
        width: auto;
        float: none;
        border-right: none;
        height: auto;
    
        a {
            text-align: left;
            height: auto; 
        }

    }
    
}

